@page "/actividades"
@using Gym.WEB.Repositories
@using Gym.Shared.Entidades

@inject IRepository repository


<h3>Actividades</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/actividades/create">Nueva actividad</a>
</div>

<GenericList MyList="actividades">

    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Actividades</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var Actividades in actividades!)
                {
                    <tr>
                        <td>
                            @Actividades.Nombre
                        </td>
                        <td>
                            <a class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger">Borrar</button>
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </Body>

</GenericList>

@code {
    public List<Actividades>? actividades { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var responseHppt = await repository.Get<List<Actividades>>("/api/actividades");
        actividades = responseHppt.Response!;
    }
}


