@page "/plan entrenamiento"
@using Gym.WEB.Repositories
@using Gym.Shared.Entidades
@using Gym.Shared.Entities

@inject IRepository repository


<h3>PlanEntrenamiento</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/planenetrenamineto/create">Nuevo planentrenamiento</a>
</div>

<GenericList MyList="planentrenamiento">

    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>PlanEntrenamiento</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var PlanEntrenamiento in planentrenamiento!)
                {
                    <tr>
                        <td>
                            @PlanEntrenamiento.Id_Plan
                        </td>
                        <td>
                            <a class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger">Borrar</button>
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </Body>

</GenericList>

@code {
    public List<PlanEntrenamiento>? planentrenamiento { get; set; }


    protected async override Task OnInitializedAsync()
    {
        var responseHppt = await repository.Get<List<PlanEntrenamiento>>("/api/plan entrenamiento");
        planentrenamiento = responseHppt.Response!;
    }
}


