@page "/clientes/edit/{Id:int}"
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService swal

<h3>Editar Cliente</h3>

@if (clientes is null)
{
    <p>Cargando...</p>
}
else
{
    <ClientesForm @ref="clientesForm" clientes="clientes" OnValidSubmit="Edit" ReturnAction="Return" />
    <Pagination CurrentPage="currentPage"
                TotalPages="totalPages"
                SelectedPage="SelectedPage" />
}

@code {
    private Clientes? clientes;
    private ClientesForm? clientesForm;
    private int currentPage = 1;
    private int totalPages;
    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHTTP = await repository.Get<Clientes>($"api/clientes/{Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("clientes");
            }
            else
            {
                var messageError = await responseHTTP.GetErrorMessage();
                await swal.FireAsync("Error", messageError, SweetAlertIcon.Error);
            }
        }
        else
        {
            clientes = responseHTTP.Response;
        }
    }
    private async Task SelectedPage(int page)
    {
        currentPage = page;
        await LoadAsync(page);
    }
    private async Task LoadAsync(int page = 1)
    {

        var responseHTTP = await repository.Get<Clientes>($"api/clientes/{Id}");
        clientes = responseHTTP.Response;

     

    }

    private async Task Edit()
    {
        var responseHTTP = await repository.Put("api/clientes", clientes);

        if (responseHTTP.Error)
        {
            var mensajeError = await responseHTTP.GetErrorMessage();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            clientesForm!.FormPostedSuccessfully = true;
            navigationManager.NavigateTo("clientes");
        }
    }

    private void Return()
    {
        navigationManager.NavigateTo("clientes");
    }
}
